{% extends "base.html" %}
{% block content %}
<nav class="navbar">
    <div class="container">
        <span class="navbar-brand mb-0 h1">商品内容変更</span>
    </div>
</nav>

{% if error_message != "" %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <div>
        {{error_message}}
    </div>
</div>
{% endif %}

<div class="container">
    <form method="POST">
        <!--入力フォームの部分-->
        <div class="mb-3">
            <label for="purchase_date" class="form-label">購入した日付</label>
            <input type="date" class="form-control" name="purchase_date" id="purchase_date"
                value={{objective_item.purchase_date}}>
        </div>
        <div class="form-group mb-3">
            <label for="service_name" class="form-label">カテゴリ</label>
            <div class="input-group">
                <select class="form-control" name="service_name" id="service_name">
                    {% for service in service_detail_list %}
                    {% if service.service_name == objective_item.service_name %}
                    <option selected>{{service.service_name}}</option>
                    {% else %}
                    <option>{{service.service_name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label for="item_name" class="form-label">商品名</label>
            <input type="text" class="form-control" name="item_name" id="item_name" aria-describedby="emailHelp"
                value={{objective_item.item_name}}>
        </div>
        <div class="mb-3">
            <label for="item_price" class="form-label">値段</label>
            <input type="number" class="form-control" name="item_price" id="item_price" placeholder="1000" min="1"
                value={{objective_item.item_price}}>
        </div>
        <div class="form-group mb-3">
            <label for="item_attribute" class="form-label">購入者</label>
            <div class="input-group">
                <select class="form-control" name="item_attribute" id="item_attribute">
                    {% for item_attribute in item_attribute_list %}
                    {% if item_attribute == objective_item.item_attribute %}
                    <option selected>{{item_attribute}}</option>
                    {% else %}
                    <option>{{item_attribute}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <!--編集完了ボタンと、確認のポップアップ-->
        <button type="button" class="btn btn-primary mb-12" data-toggle="modal" data-target="#testModal">編集完了</button>
        <div class="modal" id="testModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">編集完了</h5>
                    </div>
                    <div class="modal-body">
                        <p>編集を完了しますか？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                        <button type="submit" class="btn btn-primary">編集完了</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}